@model WebAula1.Models.Person
@{
}

<h2>Detalhes</h2>

<div class="row">
    @Html.DisplayFor(model => model.Name)
    @Html.DisplayFor(model => model.Address)
    @Html.DisplayFor(model => model.BirthYear)
</div>
