@model WebAula1.Models.Person
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a asp-action="NewPerson" class="btn btn-primary">Novo Cadastro</a>
<a asp-action="ExibirCadastros" class="btn btn-primary">Exibir Cadastros</a>
